# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ExpertFunicular.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\expert-funicular\src\.idea\.idea.ExpertFunicular\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
